<div ng-if="homepage.navigation['challengeAltas']" align="center">
    <!-----------响应式布局----------->
    <div style="position: relative">闯关地图</div>

    <!-----------非响应式布局----------->
    <div align="center">
        <!-- 按钮 -->
        <button ng-click="homepage.chooseProjectSubPage('readProblem')" class="btn btn-success" style="width: 40%;height: 40px">第一关</button>
        <button ng-click="homepage.chooseProjectSubPage('readProblem')" class="btn btn-success" style="width: 40%;height: 40px">第二关</button>
        <button ng-click="homepage.chooseProjectSubPage('readProblem')" class="btn btn-success" style="width: 40%;height: 40px">第三关</button>
        <button ng-click="homepage.chooseProjectSubPage('readLastProblem')" class="btn btn-success" style="width: 40%;height: 40px">第四关</button>
        <button ng-click="homepage.chooseProjectSubPage('myHarvest')" class="btn btn-success" style="width: 40%;height: 40px">我的成绩</button>
    </div>
</div>