<div ng-if="homepage.navigation['homePage']" align="center">
    <!-----------响应式布局----------->
    <div style="position: relative">首页</div>

    <!-----------非响应式布局----------->
    <div align="center">
        <!-- 按钮 -->
        <button ng-click="homepage.chooseProjectSubPage('challengeAltas')" class="btn btn-success" style="width: 40%;height: 40px">开始闯关</button>
        <button ng-click="homepage.chooseProjectSubPage('viewGameRule')" class="btn btn-success" style="width: 40%;height: 40px">活动规则</button>
        <button ng-click="homepage.chooseProjectSubPage('enjoyPage')" class="btn btn-success" style="width: 40%;height: 40px">去分享</button>
    </div>
</div>